@import "tailwindcss";

body {
  @apply bg-gray-950;
  color: white;
}

input,
select {
  color: black !important; /* Esto hace que tanto inputs como selects tengan el texto en negro */
}

/* Asegúrate de que los textos dentro de los 'option' también tengan el color adecuado */
select option {
  color: black !important;
}
